<div class="col-xs-12">
    <h1>Todo List</h1>
    <!-- this below, says filter on the entire everything. could do filter: {task: searchTerm.searchTerm} -->
    <div ng-repeat="item in items | filter: searchTerm.searchTerm">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-1"><input type="checkbox" name=""/></div>
          <div class="col-xs-7"><a ng-href="#!/items/deets/{{item.id}}">{{item.task}}</a></div>
          <!-- what ng-href does is says "we're using angular here, and wait 'til angular has done its thing before it assigns its href'" -->
          <div class="col-xs-2">{{item.dueDate}}</div>
          <div class="col-xs-1">{{item.assignedTo}}</div>
          <div class="col-xs-1"><button class="btn btn-danger">X</button></div>
        </div>
      </div>
    </div>
  </div>